/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Header *********/
.main-header {
    display: flex;
    justify-content: space-between;
}

.main-header .logo {
    padding: 30px 0px 30px 0px;
    height: 19px;
}

.main-header nav {
    display: flex;
    justify-content: space-between;
    gap: 68px;
}

.main-header nav a {
    border-top: transparent solid 2px;
    padding-top: 14px;
}

.main-header nav a:active {
    border-top: var(--main-color) solid 2px;
    color: var(--main-color);
}

/****** Info *********/
.info {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 35px;
}

.searchbar {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.searchbar label {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 51px;
    width: 52px;
    background-color: var(--main-bg-color);
    border: solid 1px var(--main-bg-color);
    border-radius: 15px 0 0 15px;
    flex-shrink: 0;

    box-sizing: border-box;
}

.searchbar label i {
    font-size: 1.125em;
    color: #000000;
}

.searchbar input {
    height: 51px;
    border: solid 1px var(--main-bg-color);
    padding: 14px 24px 14px 24px;

    font-weight: 700;
    font-size: 1.125em;
    line-height: 18px;
}

.searchbar button {
    box-sizing: border-box;
    height: 51px;
    color: white;
    background-color: var(--main-color);
    border: solid 1px var(--main-color);
    border-radius: 0 15px 15px 0;
    padding: 15px 16px 15px 16px;
    font-weight: 700;
    font-size: 1.125em;
    user-select: none;
    cursor: pointer;
}

.search-button-icon {
    display: none;
    color: #FFFFFF;
    font-size: 17px;
}

/****** Filtres ******/
.filtres {
    display: flex;
    align-items: center;
    gap: 15px;
}

.filtres label {
    font-weight: 700;
    font-size: 1.125em;
}

.filtres-container {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;

}

.filtre-button {
    flex-grow: 1;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    cursor: pointer;

    font-size: 1.0625em;
    font-weight: 700;

    padding: 0 19px;
    height: 50px;
    border-radius: 25px;
    border: solid 2px #D9D9D9;
    background-color: white;
}

.filtre-button:hover {
    background-color: var(--filter-bg-color);
}

/****** Info ***********/
.infobar {
    display: flex;
    align-items: center;
    gap: 10px;
}

.infobar i {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    border: solid 1px #D9D9D9;
    border-radius: 100%;
    height: 24px;
    width: 24px;
    aspect-ratio: 1 / 1;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    height: 100%;
}

.hebergements-cards img {
    height: 114px;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-bottom: 9px;
}

.hebergements-cards .card-content {
    padding: 0 15px 0px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    flex: 1;
}

.hebergements-cards .card-title {
    line-height: 19px;
}

.hebergements-cards .card-subtitle {
    margin-top: 8px;
    line-height: 16px;
    margin-bottom: 8px;
    font-size: 0.875em;
}

.hebergements-cards .card-rating {
    height: 13.5px;
    margin-bottom: 10px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards {
    margin-top: 30px;

    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;

    height: calc(100% - 26px - 30px);
}

.populaires-cards .card {
    display: flex;
    box-sizing: border-box;
    height: 100%;
}

.populaires-cards img {
    width: 33%;
    aspect-ratio: 118/ 136;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.populaires-cards .card-content {
    width: 67%;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
    font-size: 0.875em;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Footer ***********/
.main-footer {
    margin-top: 35px;
    background-color: var(--main-bg-color);
    padding: 20px;
}

.main-footer nav section {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex: 1;
}

.main-footer nav {
    display: flex;
    flex-direction: row;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
        gap: 50px;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
    }

    .populaires-cards .card {
        height: 146px;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 0.875em;
    }

    .populaires-cards .card-subtitle {
        font-size: 0.8125em;
    }
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .main-container {
        padding: 0;
    }

    .main-header {
        flex-direction: column;
    }

    .main-header .logo {
        padding: 30px;
        width: max-content;
        align-self: center;
    }

    .main-header nav {
        justify-content: space-between;
        gap: 0px;
    }

    .main-header nav a {
        flex: 1;
        text-align: center;
        border-bottom: transparent solid 2px;
        border-top: none;
        padding-top: 0px;
        padding-bottom: 15px;
    }

    .main-header nav a:active {
        border-bottom: var(--main-color) solid 2px;
        border-top: none;
        color: var(--main-color);
    }

    .searchbar {
        position: relative;
    }

    .searchbar>input {
        flex-grow: 1;
        flex-shrink: 1;
        border-top-right-radius: 100px;
        border-bottom-right-radius: 100px;

        width: 100%;
        padding-right: 75px;
    }

    .searchbar>button {
        position: absolute;
        right: 0;

        border-radius: 15px;
        padding: 16px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    .search-button-text {
        display: none;
    }

    .search-button-icon {
        display: block;
    }

    .info {
        padding-left: 20px;
        padding-right: 20px;
    }

    .filtres-container {
        width: 100%;
        grid-template-columns: 1fr 1fr;
        row-gap: 20px;
        column-gap: 10px;
    }

    .filtre-button>span {
        font-size: 0.875em;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
        gap: 15px;
    }

    .hebergements-and-populaires section {
        border-radius: 0px;
        padding: 30px 20px;
    }

    .populaires-cards {
        margin-top: 15px;
        flex-direction: column;
        gap: 15px;
    }

    .populaires-cards a {
        width: 100%;
    }

    #hebergements {
        padding: 20px;
        background-color: white;
    }

    .hebergements-cards {
        display: grid;
        grid-template-columns: 1fr;
        gap: 15px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .hebergements-cards img {
        height: 114px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        margin-bottom: 9px;
    }

    .hebergements-cards .card-content {
        padding: 0 15px 0px 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;
    }
    .main-footer {
        margin-top: 35px;
        padding: 30px;
    }

    .main-footer nav {
        flex-direction: column;
        gap: 50px;
    }
}

/* Very small screens */
@media (max-width: 656px) {
    .filtre-button {
        flex: 1 1 100%;
    }
}
